:host ::ng-deep .p-tieredmenu {
    width: 15vw;
}

.hotbar-menu-item {
    padding: 10px;
}

.hotbar-menu {
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidenav {
    height: 100%; 
    width: 15.5%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0; 
    overflow-x: hidden;
    padding-top: 75px;
    display: flex;
}