:host ::ng-deep .p-tieredmenu {
    width: 15vw;
}

.sidenav {
    height: 100%; 
    width: 15.5%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0; 
    overflow-x: hidden;
    padding-top: 70px;
    display: flex;
}