<p-toast></p-toast>
<div class="sidenav">
    <p-tieredMenu [model]="items">
    </p-tieredMenu>
</div>
<div style="display: block; float: right; z-index: 0; width: 84.5%;">

    <div class="hotbar-menu">
        <span class="hotbar-menu-item">
            <p-dropdown [options]="events" placeholder="Select an Event" [(ngModel)]="selectedEvent" optionLabel="name" (onChange)="fetchEventStationsAndParticipants($event)"></p-dropdown>
        </span>
        <span class="hotbar-menu-item">
            <p-dropdown [options]="stations" placeholder="Select a Station" [(ngModel)]="selectedStation" optionLabel="name" (onChange)="fetchCheckIns($event)"></p-dropdown>
        </span>
        <span class="hotbar-menu-item">
            <p-inputNumber inputId="enteredBib" placeholder="Enter a Bib Number" [(ngModel)]="checkinBib"></p-inputNumber>
        </span>
        <span class="hotbar-menu-item">
            <p-toggleButton onLabel="Safe Check On" offLabel="Safe Check Off" onIcon="pi pi-check" offIcon="pi pi-times"  [(ngModel)]="entryValidationToggled"></p-toggleButton>
        </span>
    </div>

    <p-table #dt [value]="checkIns" [rows]="10" [paginator]="true" 
        responsiveLayout="scroll" [(selection)]="selectedCheckIns" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">

        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="stationNumber">Station Number <p-sortIcon field="stationNumber"></p-sortIcon></th>
                <th pSortableColumn="bib">Bib<p-sortIcon field="bib"></p-sortIcon></th>
                <th pSortableColumn="bib">Time<p-sortIcon field="timestamp"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-checkIn>
            <tr>
                <td>
                    <p-tableCheckbox [value]="checkIn"></p-tableCheckbox>
                </td>
                <td>{{checkIn.stationNumber}}</td>
                <td>{{checkIn.bib}}</td>
                <td>{{checkIn.timestamp}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>