<p-toast [showTransitionOptions]="'translateY(100%)'" [hideTransitionOptions]="'0ms'"></p-toast>

<div class="login-card">
    <p-card header="Login" subheader="Welcome Back!" [style]="" styleClass="p-card-shadow">
        <ng-template pTemplate="header" style="height: 200px; width: 200px">
            <img alt="Logo" src="assets/mountain.png">
        </ng-template>
        <div>
            <div class="login-component">
                <span class="p-float-label">
                    <input id="float-input-invalid" type="text" pInputText [(ngModel)]="login.username" class="ng-invalid ng-dirty"> 
                    <label for="float-input-invalid">Username</label>
                </span>
            </div>
            <div class="login-component">
                <p-password id="password" [(ngModel)]="login.password" [toggleMask]="true"></p-password>
            </div>
        </div>
        <ng-template pTemplate="footer">
            <p-button label="Submit" icon="pi pi-check"(onClick)="loginSubmit($event)"></p-button>
            <p-button label="Create" icon="pi pi-times" (onClick)="createAccount($event)" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
        </ng-template>
    </p-card>
</div>