<div class="sidenav">
    <p-tieredMenu [model]="items">
    </p-tieredMenu>
</div>
<div style="display: block; float: right; z-index: 0; width: 84.5%;">
    <div *ngIf="toggleEventDropdown" style="padding: 10px;">
        <p-dropdown [options]="events" [(ngModel)]="selectedEvent" optionLabel="name" (onChange)="broadcastSelection($event)"></p-dropdown>
    </div>

    <app-event-management></app-event-management>
    <app-participant-management></app-participant-management>
    <app-station-management></app-station-management>
    <app-check-in-management></app-check-in-management>
</div>
