
<div class="control-panel">
    <div class="panel-card" style="float: left">
        <p-card header="Create Event" subheader="Welcome!" [style]="" styleClass="p-card-shadow">
            <ng-template pTemplate="header" style="height: 200px; width: 200px">
                <a [routerLink]="['/create-event']">
                    <img alt="Logo" src="assets/create.png">
                </a>
            </ng-template>
            <ng-template pTemplate="footer">
            </ng-template>
        </p-card>
    </div>

    <div class="panel-card" style="float: center">
        <p-card header="Manage Existing" subheader="Welcome!" [style]="" styleClass="p-card-shadow">
            <ng-template pTemplate="header" style="height: 200px; width: 200px">
                <a [routerLink]="['/manage-event']">
                    <img alt="Logo" src="assets/clipboard.png">
                </a>
            </ng-template>

            <ng-template pTemplate="footer">
            </ng-template>
        </p-card>
    </div>

    <div class="panel-card" style="float: right">
        <p-card header="Review Past Events" subheader="Welcome!" [style]="" styleClass="p-card-shadow">
            <ng-template pTemplate="header" style="height: 200px; width: 200px">
                <a [routerLink]="['/review-events']">
                    <img alt="Logo" src="assets/history.png">
                </a>
            </ng-template>
            <ng-template pTemplate="footer">
            </ng-template>
        </p-card>
    </div>
</div>